﻿
@{
    ViewBag.Title = "LoginSession";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}


@*@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-9">
                <input type="email" class="form-control" name="email" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Mật Khẩu</label>
            <div class="col-md-9">
                <input type="password" class="form-control" name="pwd" value="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            </div>
        </div>
    </div>
}*@


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm())
                {
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" value="" placeholder="Nhập Email của Bạn"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">

                        <input type="password" class="form-control" name="pwd" value="" placeholder="Nhập Mật Khẩu"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Đăng Nhập</button>
                    </div>

                }

                
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
   




