﻿
@{
    ViewBag.Title = "DetailBlog";
    Layout = "~/Views/Shared/_LayoutConsumer.cshtml";
}
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('../../Assets/images/img_2.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-success mb-3">@ViewBag.TypeBlog</span>
                    <h1 class="mb-4"><a href="#">@ViewBag.DetailBlog.Title</a></h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">@ViewBag.UserBlog</span>
                        <span>&nbsp;-&nbsp; @ViewBag.DetailBlog.Created</span><br />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body" style="width:100%;overflow:hidden;background-size:cover;">
                    @Html.Raw(ViewBag.DetailBlog.Content)
                </div>


                <div class="pt-5">
                    <p>Danh Mục:  <span>@ViewBag.TypeBlog</span></p>
                    <p>Số Lượt Xem:  <span>@ViewBag.DetailBlog.views</span></p>
                </div>


                <div class="pt-5">
                    <h3 class="mb-5">Bình Luận</h3>
                    <ul class="comment-list">
                        @foreach (var item in ViewBag.DataComment)
                        {
                            if (@item.ParentId < 1)
                            {
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="~/Assets/images/person_1.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        @foreach (var user in ViewBag.dataUser)
                                        {
                                            if (@item.CustomerID == user.ID)
                                            {
                                                <h3>@user.CustomerName</h3>
                                            }
                                        }

                                        <div class="meta">@item.Created</div>
                                        <p>@item.Content</p>
                                        
                                    </div>
                                </li>
                                <ul class="children" style="padding-top:0px; padding-bottom:10px;">
                                    @foreach (var item2 in ViewBag.DataCommentParent)
                                    {
                                        if (@item2.ParentId == @item.ID)
                                        {
                                            <li class="comment">
                                                <div class="vcard">
                                                    <img src="~/Assets/images/person_1.jpg" alt="Image placeholder">
                                                </div>
                                                <div class="comment-body">
                                                    @foreach (var user in ViewBag.dataUser)
                                                    {
                                                        if (@item2.CustomerID == user.ID)
                                                        {
                                                            <h3>@user.CustomerName</h3>
                                                        }
                                                    }
                                                    <div class="meta">@item2.Created</div>
                                                    <p>@item2.Content</p>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @if (Session["loginCustomer"] != null)
                                    {
                                        <div class="comment-form-wrap" style="margin-bottom:50px;">
                                            @using (Html.BeginForm())
                                            {
                                                <input type="hidden" name="blogId" value="@ViewBag.DetailBlog.ID" />
                                                <input type="hidden" name="parentId" value="@item.ID" />                                              
                                                <input type="hidden" name="rate" value="0" />                                              
                                                <div class="form-group ">
                                                    <label for="message">Bình Luận</label>
                                                    <div class="row">
                                                        <input name="message" id="message" cols="10" rows="10" class="form-control col-10" />
                                                        <input type="submit" value="Gửi" class="btn btn-primary col-1">
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                    <input type="submit" value="Gửi" class="btn btn-primary">
                                                </div>*@
                                            }
                                        </div>
                                    }
                                    
                                </ul>
                            }
                        }



                    </ul>
                    <!-- END comment-list -->
                    @if (Session["loginCustomer"] != null)
                    {
                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Đánh Giá Của Bạn:</h3>

                    @using (Html.BeginForm())
                    {
                        <input type="hidden" name="blogId" value="@ViewBag.DetailBlog.ID" />
                        <input type="hidden" name="parentId" value="0" />
                        <div class="form-group">
                            <label for="website">Chon Điểm:</label>
                            <select name="rate" class="form-control">
                                <option value="0">--lựa chọn--</option>
                                <option value="1">Không hay</option>
                                <option value="2">Bình Thường</option>
                                <option value="3">Tốt</option>
                                <option value="4">Xuất Sắc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Bình Luận</label>
                            <textarea name="message" id="message" cols="10" rows="10" class="form-control" style="height:60px"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gửi" class="btn btn-primary">
                        </div>
                    }




                </div>
                    }
                    else
                    {
                        <p>Hãy Đăng Nhập Để Được Tham Gia Bình Luận</p>
                    }

                </div>

            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="~/Assets/images/person_2.jpg" alt="Image Placeholder" class="img-fluid mb-5">
                        <div class="bio-body">
                            <h2>@ViewBag.UserBlog</h2>
                           
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Assets/images/img_1.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Assets/images/img_2.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Assets/images/img_3.jpg" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="#">Food <span>(12)</span></a></li>
                        <li><a href="#">Travel <span>(22)</span></a></li>
                        <li><a href="#">Lifestyle <span>(37)</span></a></li>
                        <li><a href="#">Business <span>(42)</span></a></li>
                        <li><a href="#">Adventure <span>(14)</span></a></li>
                    </ul>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>






<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Subscribes</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Nature</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Connect With Us</h3>
                    <p>
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>

  </div>