﻿
@{
    ViewBag.Title = "ListBlogType";
    Layout = "~/Views/Shared/_LayoutConsumer.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('../../Assets/images/img_2.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-success mb-3"> </span>
                    <h1 class="mb-4"><a href="#">DU LỊCH VIỆT NAM</a></h1>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.dataBlogs)
            {
                <div class="col-lg-4 mb-4">
                    <div class="entry2" style="height:560px;">
                        <a href="@Url.Action("DetailBlog","Home",new { id=item.ID})"><img src="~/Assets/images/img_1.jpg" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt" style="padding-left:0px;padding-right:0px">
                            @foreach (var item2 in ViewBag.dataTypeBlogs)
                            {
                                if (item.TypeBlogID == item2.ID)
                                {
                                    <span class="post-category text-white bg-secondary mb-3">@item2.TypeName</span>
                                }
                            }

                            <h2 style="height:70px;overflow:hidden"><a href="@Url.Action("DetailBlog","Home",new { id=item.ID})">@item.Title</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                                @foreach (var item3 in ViewBag.dataUser)
                                {
                                    if (item.UserID == item3.ID)
                                    {
                                        <span class="d-inline-block mt-1">By <a href="#">@item3.UserName</a></span>
                                    }
                                }

                                <span>&nbsp;-&nbsp; July 19, 2019</span>
                            </div>
                            <div style="height: 60px;overflow: hidden">

                                @Html.Raw(item.ContentShort)
                            </div>
                            <p>@Html.ActionLink("Chi Tiết", "DetailBlog", new { id = item.ID })</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">15</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Subscribes</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Nature</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Connect With Us</h3>
                    <p>
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>

  </div>

