﻿@model TestAss2.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chi Tiết Tin Tức</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang Chủ</a></li>
                    <li class="breadcrumb-item">Danh Sách Tin Tức</li>
                    <li class="breadcrumb-item active">Chi Tiết Tin Tức</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết Tin Tức</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">                   
                    <div class="row">
                        <div class="col-12">
                            <h4>Nội Dung</h4>
                            <div class="post">
                               
                                @Html.Raw(ViewBag.Content)
                            </div>

                          
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i>@Html.DisplayFor(model => model.Title)</h3>
                    <p class="text-muted">@Html.Raw(ViewBag.ContentShort)</p>
                    <br>
                    <table class="table table-striped">
                        <tr>
                            <td>Tiêu Đề: </td>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>
                        <tr>
                            <td>Ngày Tạo: </td>
                            <td>@Html.DisplayFor(model => model.Created)</td>
                        </tr>
                        <tr>
                            <td>Trạng Thái: </td>
                            <td>@ViewBag.Status</td>
                        </tr>
                        <tr>
                            <td>Địa Điểm: </td>
                            <td>@Html.DisplayFor(model => model.Place)</td>
                        </tr>
                        <tr>
                            <td>Lượt Xem: </td>
                            <td>@Html.DisplayFor(model => model.views)</td>
                        </tr>
                        <tr>
                            <td>User ID: </td>
                            <td> @ViewBag.DataUser</td>
                        </tr>
                        <tr>
                            <td>Danh Mục Bài Viết: </td>
                            <td>@ViewBag.DataTypeBl</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
