﻿@model TestAss2.Models.Blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Cập Nhật Tin Tức</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang Chủ</a></li>
                    <li class="breadcrumb-item ">Danh Sách Tin Tức</li>
                    <li class="breadcrumb-item active">Cập Nhật Tin Tức</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="col-12">


            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Cập Nhật</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Tiêu Đề Bài Viết:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Nội Dung Ngắn:</label>
                            </div>
                            <div class="col-md-12">
                                <!-- The toolbar will be rendered in this container. -->
                                <div id="toolbar-container"></div>

                                <!-- This container will become the editable. -->
                                <div id="editor">

                                </div>
                                @Html.EditorFor(model => model.ContentShort, new { htmlAttributes = new { @class = "form-control hidden" } })
                                @Html.ValidationMessageFor(model => model.ContentShort, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Nội dung:</label>
                            </div>
                            <div class="col-md-12">
                                <!-- The toolbar will be rendered in this container. -->
                                <div id="toolbar-container1"></div>

                                <!-- This container will become the editable. -->
                                <div id="editor1">

                                </div>
                                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control hidden" } })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Ngày Tạo:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Trang Thái:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Địa Điểm:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Số Lượt Xem:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.views, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.views, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control hidden" } })
                                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Danh Mục:</label>
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownList("TypeBlogID", null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TypeBlogID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Cập Nhật" class="btn btn-default" />
                            </div>
                        </div>

                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script{

    <script src="~/Content/ckeditor5/ckeditor.js"></script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                editor.setData($("#ContentShort").val());
                editor.model.document.on('change:data', () => {
                    $("#ContentShort").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor1'))
            .then(editor => {
                editor.setData($("#Content").val());
                editor.model.document.on('change:data', () => {
                    $("#Content").val(editor.getData());
                });

                const toolbarContainer = document.querySelector('#toolbar-container1');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}


