﻿@model IEnumerable<TestAss2.Models.Blog>
@using TestAss2.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Danh Sách Tin Tức</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Danh Sách Tin Tức</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">

        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">Danh Sách</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung Ngắn</th>
                            <th>Ngày Tạo</th>
                            <th>Trang thái</th>
                            <th>Địa Điểm</th>
                            <th>Lượt Xem</th>
                            
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:20%">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td style="width:30%">
                                    @*@Html.DisplayFor(modelItem => item.ContentShort)*@
                                    @Html.Raw(item.ContentShort)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p class="btn btn-success">Hiện</p>
                                    }
                                    else
                                    {

                                        <p class="btn btn-dark">Ẩn</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.views)
                                </td>
                               
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </div>
</section>

